<div class="centered-container">
    <div class="card card-outline card-orange">
      <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1">
          <img src="../../../assets/img/CoE_Logo-01.png" alt="coe_logo" class="logo">
        </a>
        <p class="login_title">Welcome To Eku-Camunda</p>
      </div>
      <div class="card-body">
        <p class="login-box-msg"><b>IAM</b></p>
  
        <div class="row">
          <div class="col">
            <pf-button [type]="'button'" (click)="navigateToProcessDashboard()">
              Log In
            </pf-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
