<br>
<h2>Client Complaint</h2><br>
<form>
 <div class="row">
    <div class="col">
    <input type="text" class="form-control" placeholder="Customer Care Centre" aria-label="Customer Care Centre">
    </div><br>
    <div class="col">
    <input type="text" class="form-control" placeholder="Account No" aria-label="Account No">
    </div>
    </div><br>
    
    <div class="row">
    <div class="col">
    <input type="number" class="form-control" placeholder="Stand No" aria-label="Stand No">
    </div><br>
    <div class="col">
    <input type="number" class="form-control" placeholder="Street No And Name" aria-label="Street No And Name">
    </div>
    </div><br>
    
    
    
    <div class="row">
    <div class="col">
    <input type="number" class="form-control" placeholder="Client Complaint No" aria-label="Client Complaint No">
    </div><br>
    <div class="col">
    <input type="number" class="form-control" placeholder="Township" aria-label="Township">
    </div>
    </div><br>
    
    <div class="row">
    <div class="col">
    <input type="number" class="form-control" placeholder="Initials/Last Name" aria-label="Initials/Last Name">
    </div><br>
    <div class="col">
    <input type="number" class="form-control" placeholder="Title" aria-label="Title">
    </div>
    </div><br>
    
      
    <div class="row">
    <div class="col">
    <input type="number" class="form-control" placeholder="Address" aria-label="Address">
    </div><br>
    <div class="col">
    <input type="number" class="form-control" placeholder="Code" aria-label="Code">
    </div>
    </div><br>
    
    
      
    <div class="row">
    <div class="col">
    <input type="text" class="form-control" placeholder="Area" aria-label="Area">
    </div>

    <div class="col">
        <input type="text" class="form-control" placeholder="Email " aria-label="Email" >
        </div>
    </div><br>
      
      
    
   
   
   
      
    <div class="row">
    <div class="col" >   
    <select class="form-select" aria-label="Default select example"class="lastInput">
    <option selected  >Select Department</option>
    <option value="1">Water Depo</option>
    <option value="2">Electricity Depo</option>
    <option value="3">Refuse Depo</option>
    </select>
        
    </div><br>
    </div><br>
    <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-primary" type="button" >Submit</button>
      </div>


</form>